# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = scrapyRedisTest.settings

[deploy:yanyixuan]
url = http://148.70.15.23:6800/
project = scrapyRedisTest
